.sec_Home{
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
    columns: 10px;

    article{
        width: 100vw;
        text-align: center;

        input{
            width: 15vw;
            text-align: center;
            padding: 5px 2px;
            font-weight: bold;
            
         
                color: red;
            
        }

        >article{
            background-color: goldenrod;
            width: 25vw;
            margin: auto;

            display: flex;
            justify-content: space-around;
        }
    }
}